.container-1{
   
    width: 75%;
    padding: 10px;
    border: 1px solid black;
    margin: auto;
    text-align: center;
    background-color: cadetblue;
  
   
}
/* this is a flexcontainer */
.flex-container-1{
    display: flex;
    /* width: 50%; */
    /* height: 25%; */
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    border: 1px solid black;
    background-color: darkslategray;
   
}
/* css for button*/
.flex-container-1 div{
    display: flex;
   
    padding: 10px;
   
}
/* this is a flexcontainer */ 
.flex-container-1-2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    border: 1px solid black;
    background-color: lightblue;
   
}

.box1{
    
    padding: 10px; 
    border: 1px solid black;
    background-color: lightcoral;
   
}

.container-2,.container-3{
    width: 75%;
    padding: 10px;
    border: 1px solid black;
    margin: auto;
    text-align: center;
    /* background-color: cadetblue; */

}
.flex-container-2 ,.flex-container-3,.flex-container-4-1,.flex-container-4-2,.flex-container-4-3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
    padding:10px;
   justify-content: space-around;
   padding:10px;
}

.flex-container-2 div{
    padding:10px;

}
.flex-container-2-1{
    padding: 10px;
    border:1px solid black;

}

.flex-container-3 img:hover{
box-shadow: 0px 10px 50px blue;

}
/* new */
.flex-container-4-1,.flex-container-4-2{
    background-image:  url('img/blackjack-bg.jpg') ;
    color: white;

   }
   .flex-container-4-1 img{
       height: 100px;
       width:50px;
   }
/* new */
.flex-container-4-1 div{
    border: 1px solid black;
    padding: 10px;
    /* width: 350px; */
    height:350px;
    flex:1;


   }
   .flex-container-4-2 div{
       border: 1px solid black;
       padding:10px;
      

   }
   .flex-container-4-2 button{
       padding: 10px;
       margin-right: 10px;
       border: 1px solid black;
   }

   table,th,td{
       border: 1px solid black;
       padding: 10px;
   }


   /* <input placeholder="First name" autocomplete="shipping given-name" autocorrect="off" data-backup="first_name" class="field__input" aria-required="true" size="30" type="text" name="checkout[shipping_address][first_name]" id="checkout_shipping_address_first_name"> */

